.barra-wrapper {
      position: relative;
      width: 100%;
}

.barra {
      display: flex;
      align-items: center;
      width: 100%;
      height: 56px;
      overflow-x: hidden;
      touch-action: cross-slide-x;
      white-space: nowrap;
      position: relative;
}

.boton-izquierda,
.boton-derecha {
      position: absolute;
      top: 0;
      height: 50px;
      width: 50px;
      color: #000;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
}

.boton-izquierda {
      left: 0;
      background: white;
      box-shadow: 20px 1px 11px 10px #fff;
}

.boton-izquierda mat-icon {
      padding: 8px;
}

.boton-izquierda mat-icon:hover {
      background-color: #f5f5f5;
      border-radius: 50%;
}

.boton-derecha {
      right: 0;
      background: white;
      box-shadow: -20px 1px 11px 10px #fff;
}

.boton-derecha mat-icon {
      padding: 8px;
}

.boton-derecha mat-icon:hover {
      background-color: #f5f5f5;
      border-radius: 50%;
}

@media (max-width:650px) {
      .boton-derecha,.boton-izquierda{
            opacity: 0;
      }

      .barra {
            overflow-x: scroll;
            touch-action: pan-x;
            scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
            -ms-overflow-style: none; /* Ocultar la barra de desplazamiento en Internet Explorer y Edge */
      }
        
      .barra::-webkit-scrollbar {
            display: none; /* Ocultar la barra de desplazamiento en Chrome y Safari */
      }
}