.boton-categoria {
      display: inline-block;
      padding: 7px 12px;
      background-color: #efefefb8;
      border-radius: 5px;
      margin-right: 12px;
      font-size: 14px;
      cursor: pointer;
}

.boton-categoria:hover {
      background-color: #c5c5c5;
  }