<div class="contenedor">
  <app-header class="contenedor-header"></app-header>
  <nav class="menu-lateral" [ngClass]="{'active': esActivo}">
    <a href="#" class="active"><mat-icon>home_filled</mat-icon><p>Principal</p></a>
    <a href="#"><mat-icon>app_shortcut</mat-icon><p>Shorts</p></a>
    <a href="#"><mat-icon>subscriptions</mat-icon><p>Suscripciones</p></a>
    <hr>
    <a href="#"><mat-icon>video_library</mat-icon><p>Biblioteca</p></a>
    <a href="#"><mat-icon>history</mat-icon><p>Historial</p></a>
    <a href="#"><mat-icon>smart_display</mat-icon><p>Tus videos</p></a>
    <a href="#"><mat-icon>schedule</mat-icon><p>Ver más tarde</p></a>
    <a href="#"><mat-icon>subscriptions</mat-icon><p>Videos que me gustan</p></a>
    <a href="#"><mat-icon>expand_more</mat-icon><p>Mostrar más</p></a>
    <hr>
  </nav>
  <main class="main" [ngClass]="{'active': mainActivo}">
    <h3 class="titulo">Videos Recomendados</h3>
    <app-minivideo></app-minivideo>
  </main>
  <nav class="menu-movil">
    <a href="#" class="active"><mat-icon>home_filled</mat-icon><p>Principal</p></a>
    <a href="#"><mat-icon>app_shortcut</mat-icon><p>Shorts</p></a>
    <a href="#"><mat-icon style="    font-size: 35px;
      height: 55px;">add_circle_outline</mat-icon></a>
    <a href="#"><mat-icon>subscriptions</mat-icon><p>Suscripciones</p></a>
    <a href="#"><mat-icon>video_library</mat-icon><p>Biblioteca</p></a>
  </nav>
</div>