<div class="contenedor" [ngClass]="{'active': esActivo}">
  <header class="header">
    <div class="contenedor-logo">
      <mat-icon (click)="cambiarClase()">menu</mat-icon>
      <div class="render-logo">
        <img style="height: 30px;" src="https://i.imgur.com/GJxbFXL.png" alt="logo de youtube">
        <h3>Youtube</h3>
      </div>
    </div>
    <div class="barra-busqueda">
      <input matInput type="search" placeholder="Buscar"><mat-icon class="lupa">search</mat-icon><div class="mic"><mat-icon>mic</mat-icon></div>
    </div>
    <div class="botones-header">
      <mat-icon>video_call</mat-icon><mat-icon>notifications</mat-icon>
      <a href="#" class="avatar"><img
          src="https://lh3.googleusercontent.com/a/AAcHTtcQGPjBMrV4644q0PvNmkjxcuquoyQLqBOlFlEr=s96-c-rg-br100"
          alt="avatar"></a>
    </div>
  </header>
  <nav class="menu-lateral">
    <a href="#" class="active"><mat-icon>home_filled</mat-icon><p>Principal</p></a>
    <a href="#"><mat-icon>app_shortcut</mat-icon><p>Shorts</p></a>
    <a href="#"><mat-icon>subscriptions</mat-icon><p>Suscripciones</p></a>
    <hr>
    <a href="#"><mat-icon>video_library</mat-icon><p>Biblioteca</p></a>
    <a href="#"><mat-icon>history</mat-icon><p>Historial</p></a>
    <a href="#"><mat-icon>smart_display</mat-icon><p>Tus videos</p></a>
    <a href="#"><mat-icon>schedule</mat-icon><p>Ver más tarde</p></a>
    <a href="#"><mat-icon>subscriptions</mat-icon><p>Videos que me gustan</p></a>
    <a href="#"><mat-icon>expand_more</mat-icon><p>Mostrar más</p></a>
    <hr>
  </nav>
  <main class="main">
    <h3 class="titulo">Videos Recomendados</h3>
    <app-minivideo></app-minivideo>
  </main>
</div>