* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}

mat-icon {
  height: 40px;
  width: 40px;
}

.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
  /* grid-template-columns: 72px auto; */
  /* grid-template-rows: 56px auto; */
  /* grid-template-areas:
      "header header"
      "menu contenido"; */
  transition: all .3s ease;
}

.contenedor.active {
  grid-template-columns: 240px auto;
}

/* header youtube */

.contenedor-header {
  grid-area: header;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
    top: 0;
    width: 100%;
    background: white;
}

/* Menu lateral */

.menu-lateral {
  height: 100vh;
  grid-area: menu;
  overflow: hidden;
  padding: 12px;
  position: fixed;
    top: 56px;
    width: 227px;
}

.menu-lateral a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 12px;
  color: #000;
}

.menu-lateral a:hover {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.menu-lateral a.active {
  background-color: #e5e5e5;
  font-weight: bold;
  border-radius: 10px;
}

.menu-lateral mat-icon {
  color: #606060;
  margin-right: 24px;
  width: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.menu-lateral a.active mat-icon {
  color: #ff0000;
  font-weight: bold;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid #dfdfdf;
}

.menu-lateral a p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 148px;
}

/* main section */

main {
  grid-area: contenido;
  background-color: #f9f9f9;
  height: 100vh;
  width: 100%;
  margin-left: 240px;
  margin-top: 113px;
}

.main .titulo {
  padding-left: 20px;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
    top: 56px;
    width: 100%;
    background: white;
}