* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}

mat-icon {
  height: 40px;
  width: 40px;
  text-align: center;
}

.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
  transition: all .3s ease;
}

/* header youtube */

.contenedor-header {
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 16px;
  z-index: 1200;
  width: 100%;
  background: white;
}

/* Menu lateral */

.menu-lateral {
  height: 100vh;
  grid-area: menu;
  overflow: hidden;
  padding: 12px;
  position: fixed;
    top: 56px;
    width: 73px;
    background: white;
}

.menu-lateral.active {
  width: 227px;
}

/* .menu-lateral::after{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 240px;
    visibility: visible;
    width: 20px;
    content: "";
} */

.menu-lateral a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 12px;
  color: #000;
}

.menu-lateral a:hover {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.menu-lateral a.active {
  background-color: #e5e5e5;
  font-weight: bold;
  border-radius: 10px;
}

.menu-lateral mat-icon {
  color: #606060;
  margin-right: 24px;
  width: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.menu-lateral a.active mat-icon {
  color: #ff0000;
  font-weight: bold;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid #dfdfdf;
}

.menu-lateral a p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 148px;
}

/* main section */

.main {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100%;
  margin-left: 73px;
  padding-top: 24px;
  margin-top: 113px;
}

.main.active{
  margin-left: 240px;
}


.main .titulo {
  padding-left: 20px;
  height: 56px;
  display: flex;
  align-items: center;
  position: fixed;
    top: 56px;
    width: 100%;
    background: white;
}

.menu-movil{
  display: none;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:650px) {

  .contenedor-header{
    padding: 0 5%;
  }

  .menu-lateral{
    display: none;
  }
  
  .menu-lateral.active {
    display:none;
  }
  .main{
    position: relative;
    top: 115px;
  }

  .main .titulo{
    left: 0;
  }

  .menu-movil{
    display: flex;
    position: fixed;
    top: 587px;
    left: 0;
    right: 0;
    height: 76px;
    display: flex;
    background: white;
    width: 100%;
    padding: 0 2%;
    border-top: 1px solid #e2e0e0;
  }
  .main {
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
  
  .main.active{
    margin-left: 0;
  }

  .menu-movil a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-movil a p{
    font-size: 10px;
  }

  .menu-movil a mat-icon{
    height: 20px;
  }
  
}