* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}

.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "header header"
    "menu contenido";
  transition: all .3s ease;
}

.contenedor.active {
  grid-template-columns: 300px auto;
}


.header {
  grid-area: header;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1f auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.header .contenedor-logo mat-icon {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .contenedor-logo mat-icon:hover {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 50%;
}

.header .render-logo {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 32px;
}

.header .render-logo {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header .barra-busqueda {
  grid-area: busqueda;
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .barra-busqueda input {
  width: 100%;
  padding: 0 15px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.header .barra-busqueda mat-icon {
  height: 35px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 25px 25px 0;
  background-color: #f8f8f8;
  padding: 0 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .barra-busqueda mat-icon:hover {
  background-color: #f5f5f5;
}

.header .botones-header {
  grid-area: iconos;
  display: flex;
  align-items: center;
}

.header .botones-header mat-icon {
  background-color: none;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding: 7px 12px;
  border-radius: 50%;
  color: #828282;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .botones-header mat-icon:hover {
  background-color: #e7e7e7;
}

.header .botones-header .avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.header .botones-header .avatar img {
  vertical-align: top;
  width: 100%;
  border-radius: 50%;
}

.menu-lateral {
  grid-area: menu;
  overflow: hidden;
}

.menu-lateral a {
  display: flex;
  align-items: center;
  padding: 15px 35px;
  color: #000;
  min-width: 800px;
}

.menu-lateral a:hover {
  background-color: #e5e5e5;
}

.menu-lateral a.active {
  background-color: #e5e5e5;
  font-weight: bold;
}

.menu-lateral mat-icon {
  color: #606060;
  margin-right: 35px;
  width: 20px;
  text-align: center;
}

.menu-lateral a.active mat-icon {
  color: #ff0000;
  font-weight: bold;
}

.menu-lateral hr {
  margin: 20px 0;
  border: 1px solid #dfdfdf;
}


main {
  grid-area: contenido;
  background-color: #f9f9f9;
  padding: 40px;
}

.main .titulo {
  margin-bottom: 20px;
}

.main .grid-videos {
  display: grid;
  grid-gap: 30px 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
    );
}

.main .grid-videos .video {
  width: 100%;
  display: block;
}

.main .grid-videos .video img {
  width: 100%;
  border-radius: 10px;
}

.main .grid-videos .video img:hover {
  border-radius: 0;
}

.main .grid-videos .contenedor-img-descripcion {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta {
  display: flex;
  gap: 10px;
  width: 100%;
  max-height: 100px;
  padding: 5px;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .columna-logo {
  width: 20%;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .columna-logo img {
  width: 36px;
  border-radius: 50%;
  margin: 12px 12px 0 0;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta .columna1 .titulo {
  margin: 12px 0 4px 0;
  width: 200px;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta .detalles {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta .detalles .meta-line {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta .detalles .meta-line mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta .detalles .line-2 {
  display: flex;
  font-weight: 100;
  font-size: 14px;
  gap: 2px;
}

.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta button {
  display: flex;
  align-items: start;
  margin-top: 12px;
  vertical-align: middle;
  color: inherit;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.main .grid-videos .contenedor-img-descripcion .contenedor-meta .meta button:hover {
  display: flex;
  align-items: start;
  margin-top: 12px;
  vertical-align: middle;
  color: inherit;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
}