<header class="header">
      <div class="contenedor-logo">
            <mat-icon (click)="llamarCambiarClase()">menu</mat-icon>
            <div class="render-logo">
                  <img src="https://i.imgur.com/GJxbFXL.png" alt="logo de youtube">
                  <a>Youtube</a>
            </div>
      </div>
      <div class="barra-busqueda">
            <div class="contenedor-buscar">
                  <input matInput type="search" placeholder="Buscar"><mat-icon class="lupa">search</mat-icon>
            </div>
            <div class="lupa-movil"> <mat-icon>search</mat-icon> </div>
            <div class="mic"><mat-icon>mic</mat-icon></div>
      </div>
      <div class="botones-header">
            <mat-icon>video_call</mat-icon><mat-icon>notifications</mat-icon>
            <a href="#" class="avatar"><img
                        src="https://lh3.googleusercontent.com/a/AAcHTtcQGPjBMrV4644q0PvNmkjxcuquoyQLqBOlFlEr=s96-c-rg-br100"
                        alt="avatar"></a>
      </div>
</header>