<div class="grid-videos">
  <div class="contenedor-img-descripcion" *ngFor="let video of datos">
    <a href="#" class="video">
      <img [src]="video.vistaPrevia" alt="">
    </a>
    <div class="contenedor-meta">
      <a class="columna-logo">
        <img [src]="video.avatar" alt="avatar">
      </a>
      <div class="meta">
        <div class="columna1">
          <h3 class="titulo">{{video.nombre}}</h3>
          <div class="detalles">
            <div class="meta-line">
              <a>{{video.usuario}}</a><mat-icon style="font-size: 14px;">check_circle</mat-icon>
            </div>
            <div class="line-2">
              <span>{{video.vistas}} vistas</span>
              <hr>
              <time>hace {{video.tiempo}}</time>
            </div>
          </div>
        </div>
        <button><mat-icon>more_vert</mat-icon></button>
      </div>
    </div>
  </div>
</div>